.custom-select {
    border: none;
    padding: 0;
    background: none;
    width: auto;
    vertical-align: baseline;
}

.fruit-name {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    margin-top: -30px;
    color: var(--gray-dark);
}

.section-title {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: var(--gray-dark);
}

.secondary-text {
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--secondary);
}

select.secondary-text, input.secondary-text {
    text-align: center;
    height: min-content;
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}